<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap com desktop">

  <Identity
    Name="57012MikeFrancis.19347E8D039DA"
    Publisher="CN=76F03FF0-6FBC-4475-8F1A-617EA5713D5C"
    Version="1.0.1.0" />

  <Properties>
    <DisplayName>Trial Test 456</DisplayName>
    <PublisherDisplayName>@MikeFrancis</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Trial Test 456"
        Description="TrialExpiringPrompt (Package)"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png"/>
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
		<Extensions>

			<!--Specify which CLSID to activate when toast clicked-->
			<desktop:Extension Category="windows.toastNotificationActivation">
				<desktop:ToastNotificationActivation ToastActivatorCLSID="8346BA67-2F01-4518-8542-DB9EEE286BC8" />
			</desktop:Extension>

			<!--Register COM CLSID LocalServer32 registry key-->
			<com:Extension Category="windows.comServer">
				<com:ComServer>
					<com:ExeServer Executable="TrialExpiringPrompt\TrialExpiringPrompt.exe" Arguments="-ToastActivated" DisplayName="Toast activator">
						<com:Class Id="8346BA67-2F01-4518-8542-DB9EEE286BC8" DisplayName="Toast activator"/>
					</com:ExeServer>
				</com:ComServer>
			</com:Extension>
			<Extension Category="windows.backgroundTasks" EntryPoint="BackgroundPrompt.BackgroundTaskPrompt">
				<BackgroundTasks>
					<Task Type="timer"/>
					<Task Type="systemEvent"/>
				</BackgroundTasks>
			</Extension>
		</Extensions>
    </Application>
  </Applications>
	<Extensions>
	<Extension Category="windows.activatableClass.inProcessServer">
		<InProcessServer>
			<Path>TrialExpiringPrompt\WinRT.Host.dll</Path>
			<ActivatableClass ActivatableClassId="BackgroundPrompt.BackgroundTaskPrompt" ThreadingModel="both"/>
		</InProcessServer>
	</Extension>
	</Extensions>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
